/* ------------------ RESET -------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

button {
  background: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

/* ------------------ VARIABLES AND SETUP -------------------------*/
:root {
  --main-font-size: 16px;
  --primary-lime: hsl(61, 70%, 52%);
  --faded-primary-lime-100: hsla(61, 70%, 52%, 0.1);
  --faded-primary-lime-500: hsla(61, 70%, 52%, 0.5);
  --primary-red: hsl(4, 69%, 50%);
  --neutral-slate-100: hsl(202, 86%, 94%);
  --neutral-slate-300: hsl(203, 41%, 72%);
  --neutral-slate-500: hsl(200, 26%, 54%);
  --neutral-slate-700: hsl(200, 24%, 40%);
  --neutral-slate-900: hsl(202, 55%, 16%);
  --dark-blue: #0e2431;
  --font-weight-light: 500;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* ------------------ UTILS -------------------------*/
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.label-and-links-text {
  color: var(--neutral-slate-700);
  font-weight: var(--font-weight-bold);
  opacity: 0.9;
  font-size: 0.9rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* ------------------ MAIN POSITIONING -------------------------*/
body {
  place-items: center;
  background: var(--neutral-slate-100);
}

main {
  background: white;
  width: 65%;
  height: 65%;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

/* ------------------ INPUT SECTION -------------------------*/
.input-section {
  padding: 2.5rem 2.5rem 2rem 2.5rem;
  grid-template-rows: repeat(13, 1fr);
}

.title-and-clear-all {
  justify-content: space-between;
  align-items: start;
  grid-row: span 2;
}

.title-and-clear-all > button {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-slate-500);
}

form {
  gap: 1.2rem;
  width: 100%;
  grid-row: span 11;
}

.term-and-interest-rate {
  justify-content: space-between;
  width: 100%;
}

.label-gap {
  gap: 0.2rem;
}

.input-container-styling {
  height: 2.5rem;
  border: 1px solid var(--neutral-slate-500);
  border-radius: 5px;
  overflow: hidden;
}

.input-container-styling:focus-within {
  border: 1px solid var(--primary-lime);
}

.input-container-styling:focus-within .pound-button,
.input-container-styling:focus-within .years-button,
.input-container-styling:focus-within .percentage-button {
  background: var(--primary-lime);
  color: var(--neutral-slate-900);
}

.pound-button,
.years-button,
.percentage-button {
  color: var(--neutral-slate-700);
  background: var(--neutral-slate-100);
  font-weight: var(--font-weight-bold);
  pointer-events: none;
}

.pound-button {
  width: 10%;
}

.years-button {
  width: 70%;
}

.percentage-button {
  width: 40%;
}

.input-height > input {
  height: 100%;
}

input[type="radio"]:checked {
  background: var(--primary-lime);
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  height: 0.4rem;
  width: 0.4rem;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px var(--primary-lime);
}

input:not([type="radio"]) {
  width: 100%;
  color: var(--neutral-slate-900);
  padding-left: 0.8rem;
  font-weight: var(--font-weight-bold);
}

.radio-container {
  gap: 0.5rem;
}

.radio-input {
  place-items: center;
  gap: 1rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-slate-900);
}

.radio-input:focus-within {
  background: var(--faded-primary-lime-100);
}

.radio-group-container {
  flex-basis: 1rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.calculate-button {
  width: 80%;
  background: var(--primary-lime);
  color: var(--neutral-slate-900);
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  align-self: end;
}

.calculate-button:hover {
  background: var(--faded-primary-lime-500);
}

.error-msg {
  color: var(--primary-red);
  font-weight: var(--font-weight-light);
  font-size: 0.8rem;
  bottom: -0.8rem;
}

/* ------------------ OUTPUT SECTION -------------------------*/
.output-section-container {
  background: white;
  height: 100%;
  width: 100%;
}

.output-section {
  background: var(--neutral-slate-900);
  border-bottom-left-radius: 80px;
  height: 100%;
  width: 100%;
  place-items: center;
  padding: 2.5rem 2.5rem 2rem 2.5rem;
}

.no-operations {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.operations {
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  isolation: isolate;
}

.operations > h3 {
  grid-row: span 1;
  color: white;
}

.operations > p {
  grid-row: span 2;
  color: var(--neutral-slate-100);
  opacity: 0.5;
  font-weight: var(--font-weight-bold);
}

.results {
  grid-row: span 4;
  background: var(--dark-blue);
  border-radius: 10px;
  gap: 1.5rem;
  padding: 1.5rem;
}

.results::before {
  content: "";
  position: absolute;
  inset: -0.2rem 0 0 0;
  background: var(--primary-lime);
  z-index: -1;
  border-radius: 10px;
}

hr {
  height: 1px;
  color: var(--neutral-slate-100);
  opacity: 0.1;
  width: 100%;
  place-self: center;
}

/* ------------------ FONT - TEXT -------------------------*/
h1 {
  font-size: 1.5rem;
  color: var(--neutral-slate-900);
}

h3 {
  font-size: 1.5rem;
}

.no-operations > p {
  color: var(--neutral-slate-100);
  opacity: 0.5;
  font-size: 1rem;
  text-align: center;
  font-weight: var(--font-weight-bold);
  padding-inline: 2.9rem;
}

h4,
.total > p {
  color: var(--neutral-slate-100);
  opacity: 0.5;
  font-weight: var(--font-weight-bold);
}

.monthly-repayment {
  color: var(--primary-lime);
  font-size: 3.5rem;
}

.total-repay {
  color: white;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

/* ------------------ MEDIA QUERIES -------------------------*/
@media screen and (max-width: 768px) {
  html,
  body {
    height: 115%;
  }

  main {
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    width: 100%;
    border-radius: 0;
  }

  .input-section {
    padding: 1rem;
    grid-template-rows: 1fr 5fr;
    gap: 0.5rem;
  }

  .title-and-clear-all {
    flex-direction: column;
    justify-content: center;
    grid-row: 1/2;
  }

  form {
    grid-row: 2/6;
  }

  .term-and-interest-rate {
    flex-direction: column;
    gap: 1.2rem;
  }

  .years-button {
    width: 30%;
  }

  .percentage-button {
    width: 20%;
  }

  .calculate-button {
    place-self: center;
  }

  .output-section {
    border-radius: 0;
    padding: 1rem;
  }

  .no-operations > p {
    font-size: 0.9rem;
    padding-inline: 1rem;
  }

  .operations {
    grid-template-rows: auto;
    gap: 1rem;
  }

  .operations > p {
    margin-bottom: 1rem;
  }

  .results {
    gap: 0.5rem;
  }

  .monthly-repayment {
    font-size: 2.5rem;
  }

  .error-msg {
    bottom: -1.3rem;
  }
}
