/* ------------------ RESET -------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

button {
  background: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

/* ------------------ VARIABLES AND SETUP -------------------------*/
:root {
  --main-font-size: 16px;
  --primary-lime: hsl(61, 70%, 52%);
  --primary-red: hsl(4, 69%, 50%);
  --neutral-slate-100: hsl(202, 86%, 94%);
  --neutral-slate-300: hsl(203, 41%, 72%);
  --neutral-slate-500: hsl(200, 26%, 54%);
  --neutral-slate-700: hsl(200, 24%, 40%);
  --neutral-slate-900: hsl(202, 55%, 16%);
  --font-weight-light: 500;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* ------------------ UTILS -------------------------*/
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.label-and-links-text {
  color: var(--neutral-slate-700);
  font-weight: var(--font-weight-bold);
  opacity: 0.9;
  font-size: 0.9rem;
}

/* ------------------ MAIN POSITIONING -------------------------*/
body {
  place-items: center;
  background: var(--neutral-slate-100);
}

main {
  background: white;
  width: 65%;
  height: 60%;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

/* ------------------ INPUT SECTION -------------------------*/
.input-section {
  padding: 2.5rem 2.5rem 2rem 2.5rem;
  grid-template-rows: repeat(12, 1fr);
}

.title-and-clear-all {
  justify-content: space-between;
  align-items: start;
  grid-row: span 2;
}

.title-and-clear-all > button {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-slate-500);
}

form {
  gap: 1rem;
  width: 100%;
  grid-row: span 10;
}

.term-and-interest-rate {
  justify-content: space-between;
  width: 100%;
}

.label-gap {
  gap: 0.2rem;
}

.input-container-styling {
  height: 2.5rem;
  border: 1px solid var(--neutral-slate-500);
  border-radius: 5px;
  overflow: hidden;
}

.pound-button,
.years-button,
.percentage-button {
  color: var(--neutral-slate-700);
  background: var(--neutral-slate-100);
  font-weight: var(--font-weight-bold);
}

.pound-button {
  width: 10%;
}

.years-button {
  width: 70%;
}

.percentage-button {
  width: 40%;
}

.input-height > input {
  height: 100%;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 100%;
  border: 1px solid var(--neutral-slate-900);
  height: 1rem;
  width: 1rem;
}

input:not([type="checkbox"]) {
  width: 100%;
}

.checkbox-container {
  gap: 0.5rem;
}

.checkbox-input {
  place-items: center;
  gap: 1rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-slate-900);
}

.calculate-button {
  width: 80%;
  background: var(--primary-lime);
  color: var(--neutral-slate-900);
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  align-self: end;
}

/* ------------------ FONT - TEXT -------------------------*/
h1 {
  font-size: 1.5rem;
  color: var(--neutral-slate-900);
}
