/* ------------------ RESET -------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

button {
  background: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

/* ------------------ VARIABLES AND SETUP -------------------------*/
:root {
  --main-font-size: 16px;
  --primary-lime: hsl(61, 70%, 52%);
  --primary-red: hsl(4, 69%, 50%);
  --neutral-slate-100: hsl(202, 86%, 94%);
  --neutral-slate-300: hsl(203, 41%, 72%);
  --neutral-slate-500: hsl(200, 26%, 54%);
  --neutral-slate-700: hsl(200, 24%, 40%);
  --neutral-slate-900: hsl(202, 55%, 16%);
  --font-weight-light: 500;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* ------------------ UTILS -------------------------*/
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* ------------------ MAIN POSITIONING -------------------------*/
body {
  place-items: center;
  background: var(--neutral-slate-100);
}

main {
  background: white;
  width: 65%;
  height: 60%;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

/* ------------------ INPUT SECTION -------------------------*/
.input-section {
  padding: 3rem 2rem;
  background: lightpink;
}

.title-and-clear-all {
  justify-content: space-between;
}

.term-and-interest-rate {
  gap: 1rem;
}

.input-container {
  display: flex;
}

.checkbox-input {
}

h1 {
  font-size: 1.5rem;
}
